/* ------------ 返回顶部按钮 ------------- */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#2E435E;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#3498db;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* ---------------上下文按钮----------------*/

.articlePage {  
    overflow:hidden;
    text-overflow:ellipsis; 
    -moz-text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    width:49%;
    display: inline;
}  

/*---------------播放器--------------------*/

#skPlayer{
    margin:27px auto 0;
}